* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}


/* Navbar */
body {
  background-color: #ffffff;
}


header {
  background-color: #181818;
  box-shadow: 0px 3px 10px #000000;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.42rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 40px;
  left: 30px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 200;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #dbc900;
  transition-duration: .45s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 450px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #181818;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .50s;
  z-index: 100;
}

.menu__item {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #F2CB05;
  color: #181818;
}

.image {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  height: auto;
}

.nomeUser {
  /* border: 3px solid rgb(0, 255, 85); */
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.nomeUser span {
  color: #ffffff;
  font-size: 40px;
}

.menu__box li {
  margin-top: 5%;
}

.usuario {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
  font-size: 30px;
}

.usuario span {
  margin-top: 10%;
}

.boxMaquinas {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
}


.bg {
  background-color: #F2CB05;
  margin: 5%;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}


h2 {
  font-size: 32px;
}

.cards {
  display: flex;
  padding: 45px 0px;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-color: #181818 #ffffff;
  scrollbar-width: thin;
}


.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.502) 0px 25px 25px -18px;
  height: 15rem;
  margin-left: 2%;
  cursor: pointer;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: #ffffff;
  background: #181818;
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
  flex-direction: column;
}

.card-link-wrapper {
  display: flex;
  gap: 5px;
}


.aviso_maquinas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 10rem;
  margin-bottom: -5%;
  /* border: 3px solid red; */
}

.aviso_funcionarios {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 10rem;

  /* border: 3px solid red; */
}

@keyframes animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.content {
  display: flex;
  align-items: center;
  margin-top: 5%;
  gap: 0.5rem;
}

.status {
  background-color: rgb(4, 255, 0);
  width: 4%;
  border-radius: 50%;
  height: 13.8px;
  animation: animation 1.5s linear infinite;
}

.status2 {
  background-color: rgb(255, 0, 0);
  width: 4%;
  border-radius: 50%;
  height: 13.8px;
  animation: animation 1.5s linear infinite;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #F2CB05;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: #F2CB05;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: #181818;
}

.cards::-webkit-scrollbar-track {
  background: #fff;
}


@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

.bg-funcionario {
  display: flex;
  flex-direction: column;
  background-color: #F2CB05;
  margin: 10% 20% 5% 20%;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.titulo-funcionario {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 3%;
}

.lista-funcionario ul {
  display: flex;
  flex-direction: column;
}

.lista-funcionario li {
  list-style: none;
}

.lista-funcionario{
  overflow-x: auto;
  max-height: 20rem;
}

.lista-funcionario::-webkit-scrollbar {
  width: 12px;
}

.lista-funcionario::-webkit-scrollbar-thumb,
.lista-funcionario::-webkit-scrollbar-track {
  border-radius: 92px;
}

.lista-funcionario::-webkit-scrollbar-thumb {
  background: #181818;
}

.lista-funcionario::-webkit-scrollbar-track {
  background: #fff;
}

.funcionario {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.info-funcionario {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem 0.8rem 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nome{
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
}

.info-funcionario span {
  /* border: 3px solid red; */
  color: #000000;
  font-size: 20px;
}

.content-funcionario {
  /* border: 3px solid rgb(13, 0, 255); */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  width: 50%;
}


.conexao{
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 5px;
}

.status-funcionario {
  background-color: rgb(4, 255, 0);
  width: 15%;
  border-radius: 50%;
  height: 20px;
  animation: animation 1.5s linear infinite;
}

.status-funcionario2 {
  background-color: rgb(255, 0, 0);
  width: 10%;
  border-radius: 50%;
  height: 15px;
  animation: animation 1.5s linear infinite;
}

.mostrar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  /* border: 3px solid red; */
}

.image-icon{
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 1.5rem;
  cursor: pointer;
}

.image-icon img{
  filter: drop-shadow(2px 2px  rgba(0, 0, 0, 0.26));
}


.editar button{
  background-color: transparent;
  border: none;
}

.excluir button {
  background-color: transparent;
  border: none;
}

.botao {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #F2CB05;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.botao:hover {
  background-color: rgb(243, 18, 18);

}

.x {
  background-color: #000000;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}



.modal-parent{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}

.modal{
  background: #F2CB05;
  border: 4px solid;
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: arial;
  animation: 0.5s drop;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.edit{
  /* border: 3px solid red; */
  width: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.div{
  display: flex;
  flex-direction: column;
}

.div label{
font-size: 15px;
}

.div input{
  height: 1.5rem;
  border-radius: 5px;
  width: 15rem;
  padding: 0px 8px 0px 8px;
  border: 2px solid;
  box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
}

.div input:focus {
  outline: none;
  box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
}

.titulo-edit{
  font-size: 30px;
}

@keyframes drop {
  0%{
    top: -100px;
  }
  100%{
    top: 50%;
  }
}

.X{
  position: absolute;
  color: #181818;
  right: 20px;
  top: 2px;
  font-size: 40px;
  cursor: pointer;
}
.parte{
  transition: 2s;
}

.opcao{
  display: flex;
}

.opcao button {
  color:inherit;
  font-family:inherit;
  font-size: 20px;
  background: white;
  padding: 0.2rem 1.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  cursor: pointer;
}

.opcao button:last-child {
  margin: 0;
}

.opcao button:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.opcao button:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.modal-excluir {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.options {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5%;
}

.options button{
  color:inherit;
  font-family:inherit;
  font-size: 20px;
  background: white;
  padding: 0.2rem 1.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  cursor: pointer;
}

.options button:last-child {
  margin: 0;
}

.options button:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  background-color: ;
}

.options button:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}



.btnS:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  background-color: rgb(139, 255, 139);
}

.btnN:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  background-color: rgb(238, 80, 80);
}


.texto-excluir{
  font-size: 20px;
  margin-top: 5%;
}

.exit{
  position: absolute;
  color: #181818;
  right: 20px;
  top: 2px;
  font-size: 40px;
  cursor: pointer;
}