
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}


/* Navbar */
body {
  background-color: #FFE252;
}

header {
  background-color: #181818;
  box-shadow: 0px 3px 10px #000000;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.42rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 40px;
  left: 30px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 200;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #dbc900;
  transition-duration: .45s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 450px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #181818;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .50s;
  z-index: 100;
}

.menu__item {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #F2CB05;
  color: #181818;
  cursor: pointer;
}

.image {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  height: auto;
}

.nomeUser {
  /* border: 3px solid rgb(0, 255, 85); */
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.nomeUser span {
  color: #ffffff;
  font-size: 40px;
}

.menu__box li {
  margin-top: 5%;
}

/* PAGINA */

.usuario {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
  font-size: 25px;
}

.usuario span {
  margin: 80px 0 10px 0;
}

.boasVindas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerTextoPassos {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #181818;
  color: #ffffff;
}

.textoPassos {
  width: 45%;
}

.containerModulos {
  /* border: 3px solid rgb(0, 255, 85); */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 83vh;
}

.void {
  width: 14%;
  height: 100%;
}

.pilar {
  position: relative;
  width: 14%;
  height: 100%;
  background-color: #383838;
}

.card {
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #F2CB05;
  z-index: 1;
  position: absolute;
  display: flex;
  width: 25%;
  height: 75%;
  top: 200px;
  transition: all 0.5s;
}

.card:hover {
  scale: 1.01;
  box-shadow: #18181841 0 5px 15px 5px;
}

.card1 {
  left: 9%;
}

.card2 {
  left: 37%;
}

.card3 {
  right: 9%;
}

.tituloCargo {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px 20px 0 0;
  z-index: 2;
  background-color: #5f5f5f;
  width: 100%;
  height: 30px;
}

.tituloCargo p {
  color: #ffffff;
  font-weight: bold;
}

.img {
  width: 100%;
  height: 270px;
  margin-top: 5px;
  background-color: #5f5f5f;
}
.img2{
  background-image: url("../assets/dashGerente.jpg");
  background-position: 30% 45%;
  background-size: cover;
}
.img3{
  background-image: url("../assets/dashFuncionario.jpg");
  background-position: 30% 45%;
  background-size: cover;
}
.texto {
  /* border: 1px solid rgb(0, 255, 85); */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 93%;
  height: 35%;
}

.botaoArea {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
 /*  border: 1px solid rgb(0, 255, 85); */
  width: 93%;
  height: 180px;
}
.botaoArea p{
  margin: 20px 0;
}
.botaoArea button {
  width: 250px;
  color: #fff;
  margin: 20px 0 5px 0;
  padding: 10px 30px;
  border: none;
  background-color: #181818;
  transition: 0.3s;
  border-radius: 10px;
  transition: all 0.5s;
}
.uuid_usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #e3e3e3;
}
.botaoArea button:hover {
  cursor: pointer;
  outline: none;
  background-color: #3f3f3f;
  scale: 1.02;
}