* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}


/* Navbar */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #181818;
    height: 10vh;
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.container {
    display: flex;
    
}
.ladoA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100vh;
    background-color: #F2CB05;
}
.ladoACor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/bgQuadrado.png);
    background-size: 100%;
    background-position: center;
}
.ladoB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}
.alinhamentoInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #000000 1px solid; */
    width: 70%;
    height: 100vh;
}
label {
    margin: 20px 0 5px 0;
}
input {
    width: 60%;
    padding: 10px 15px;
    border: none;
    background-color: #F2CB05;
}
input:focus {
    outline: none;
    background-color: #ffe979;
}
.btn {
    color: #fff;
    margin: 35px 0 5px 0;
    padding: 10px 30px;
    border: none;
    background-color: #181818;
    transition: 0.3s;
}
.btn:hover {
    cursor: pointer;
    outline: none;
    background-color: #3f3f3f;
    scale: 1.1;
}
h1 {
    margin-bottom: 20px;
}
p {
    font-size: 12px;
    margin-top: 20px;
}

.endereco {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    width: 279.69px;
}

.endereco .metade2 label {
    /* border: 3px solid rgb(0, 81, 255); */
    display: flex;
    margin-right: 46%;
}

.endereco input {
    width: auto;
}

.metade1 {
    /* border: 3px solid rgb(0, 13, 255); */
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.metade2 {
    display: flex;
    justify-content: end;
    flex-direction: column;
}