@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap%27';


* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

header {
    background-color: #181818;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.nav-list button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav-list button:focus,
.nav-list button:hover {
    color: #f7f7f7;
}

.nav-list button:focus:after,
.nav-list button:hover:after {
    width: 100%;
    left: 0%;
}

.nav-list button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #F2CB05;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.login-button {
    /* border: 3px solid rgb(0, 17, 255); */
    display: flex;
    width: 21%;
    justify-content: center;
    align-items: center;
}

.button1 {
    --bg: ##181818;
    --hover-bg: #F2CB05;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.3em 1em;
    background: var(--bg);
    transition: 0.2s;
    font-size: 18px;
}

.button1:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button1:active {
    transform: translate(0);
    box-shadow: none;
}

.button2 {
    --bg: #181818;
    --hover-bg: #F2CB05;
    --hover-text: #000;
    margin-left: 10%;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.3em 1em;
    background: var(--bg);
    transition: 0.2s;
    font-size: 18px;
}

.button2:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button2:active {
    transform: translate(0);
    box-shadow: none;
}

.button1 a {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.button2 a {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.mobile-menu .decor:focus,
.mobile-menu .decor {
    font-size: 18px;
    color: #e1e1e1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.mobile-menu .decor:hover {
    color: #f7f7f7;
}

.mobile-menu .decor:focus:after,
.mobile-menu .decor:hover:after {
    width: 100%;
    left: 0%;
}

.mobile-menu .decor:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #F2CB05;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* Banner */

banner {
    /* border: 3px solid red; */
    display: flex;
    height: auto;
    background-color: #F2CB05;
    width: 100%;
}

.imagem-inicial {
    /* border: 3px solid rgb(0, 17, 255); */
    width: 100%;
    height: auto;
    color: #fff;
    background-image: url(../assets/imgs/beneficios-do-monitoramento-de-ti1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo {
    /* border: 3px solid rgb(0, 255, 89); */
    padding: 0.5rem;
    font-size: 35px;
    margin: 10% 25% 5% 5%;
}

.sub-texto {
    /* border: 3px solid red; */
    font-size: 30px;
    margin: 0% 30% 0 5%;
}

.saber-mais {
    /* border: 3px solid red; */
    display: flex;
    justify-content: left;
    padding: 1rem;
    margin: 2% 0% 0% 5%;
}

.saber-mais button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 6%;
}

.saber-mais button.learn-more {
    width: 12rem;
    height: auto;
}

.saber-mais button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    border-radius: 1.625rem;
}

.saber-mais button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #000000;
}

.saber-mais button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.saber-mais button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #000000;
    border-right: 0.125rem solid #000000;
    transform: rotate(45deg);
}

.saber-mais button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.saber-mais button:hover .circle {
    width: 100%;
}

.saber-mais button:hover .circle .icon.arrow {
    background: #000000;
    transform: translate(1rem, 0);
}

.saber-mais button:hover .button-text {
    color: #000000;
}


/* SESSÃO PARTE 1 */

.part-um {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    height: auto;
}

.container{
    width: 100%;
}

.cards {
    /* border: 3px solid rgb(0, 94, 255); */
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CB05;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.missao img {
    height: 100px;
    width: 100px;
}

.missao .conteudo {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.missao h3 {
    font-size: 2rem;
    margin-bottom: 5%;
}

.missao span{
    font-size: 1.5rem;
}

.visao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CB05;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;

}

.visao img {
    height: 100px;
    width: 100px;
}

.visao .conteudo {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.visao h3 {
    font-size: 2rem;
    margin-bottom: 5%;
}

.visao span{
    font-size: 1.5rem;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CB05;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.valores img {
    height: 100px;
    width: 100px;
}

.valores .conteudo {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.valores h3 {
    font-size: 2rem;
    margin-bottom: 5%;
}

.valores span{
    font-size: 1.5rem;
}

/* SESSÃO 2 */

banner {
    font-family: 'Nunito', sans-serif;
}

.part-dois {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #181818;
}

.sobre-nos {
    /* border: 3px solid blue; */

    background-color: #181818;
    flex-direction: column;
    margin: 0% 0% 5% 0%;
    width: 20%;
    height: auto;
}

.imagem-empresa {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: flex-end;
    background-image: url(../assets/imgs/7d675566f44b598b1f41851000a6a654.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 42% 0% 0% 0%;
    border-radius: 10px;
    height: 65vh;
}

.texto-sobre {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.texto-sobre .linha {
    width: 40%;
}

.texto-sobre .titulo {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5% 0% 0% 0%;
    width: 80%;
    font-size: 40px;
    padding: 2rem;
    color: #fff;
}

.texto-sobre .texto {
    /* border: 3px solid yellow; */
    display: flex;
    padding: 2rem;
    color: #fff;
    margin-bottom: 10%;
    font-size: 25px;
}


/* SESSÃO PARTE 3 */
.part-tres {
    /* border: 3px solid red; */
    display: flex;
    background-color: #F2CB05;
}

.o-que-fazemos {
    /* border: 3px solid rgb(4, 0, 255); */
    display: flex;
    flex-direction: column;
    margin: 5% 0% 5% 0%;
}

.info-um {
    /* border: 3px solid rgb(26, 255, 0); */
    display: flex;
    padding: 1rem;
    margin: 0% 5% 0% 5%;
}

.imagem-um {
    /* border: 3px solid rgb(255, 115, 0); */
    width: 70%;
    height: 20rem;
    background-color: #181818;
    border-radius: 15px;
}

.info-um .texto {
    /* border: 3px solid rgb(255, 0, 217); */
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 2rem;
}

.info-um .texto h2 {
    /* border: 3px solid rgb(255, 0, 0); */
    display: flex;
    padding: 1rem;
    font-size: 40px;
}

.info-um .texto p {
    /* border: 3px solid rgb(255, 0, 0); */
    display: flex;
    font-size: 20px;
}

.info-dois {
    /* border: 3px solid rgb(255, 0, 217); */
    display: flex;
    padding: 1rem;
    margin: 0% 5% 0% 5%;
}

.info-dois .texto {
    /* border: 3px solid rgb(26, 255, 0); */
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.info-dois .texto h2 {
    /* border: 3px solid rgb(255, 0, 0); */
    display: flex;
    padding: 1rem;
    font-size: 40px;
}

.info-dois .texto p {
    /* border: 3px solid rgb(255, 0, 0); */
    display: flex;
    font-size: 20px;
}

.imagem-dois {
    /* border: 3px solid rgb(255, 115, 0); */
    width: 80%;
    height: 20rem;
    background-color: #181818;
    border-radius: 15px;
}

/* SESSÃO PARTE 4 */

.part-quatro {
    /* border: 3px solid rgb(255, 115, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
}

.vantagem {
    /* border: 3px solid rgb(0, 13, 255); */
    display: flex;
    flex-direction: column;
    margin: 5% 0% 0% 0%;
    color: #fff;
}

.vantagem h2 {
    /* border: 3px solid rgb(255, 115, 0); */
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 0.8rem;
}

.vantagem p {
    /* border: 3px solid rgb(13, 255, 0); */
    display: flex;
    font-size: 1.2rem;
    padding: 1rem;
}

.part-quatro .info-um {
    /* border: 3px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    /* margin: 5% 15% 5% 15%; */
}

.part-quatro .info-um .itens {
    /* border: 3px solid rgb(0, 17, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 15rem;
    width: 50%;
    padding: 2rem;
    border-radius: 15px;
}

.itens .linha2 {
    border: 1px solid #F2CB05;
    width: 50%;
}

.itens h3 {
    /* border: 3px solid rgb(255, 0, 149); */
    display: flex;
    align-items: center;
    padding: 0.1rem;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 5%;
}

.itens p {
    /* border: 3px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 1.1rem;
    color: #ffffff;
}

/* sessão quatro */
.part-cinco {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    height: auto;
}

.titulo-time {
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1.5rem;
    font-size: 30px;
    margin: 5% 0% 0% 0%;
    color: #fff;
}

.linha {
    border: 1px solid #F2CB05;
    width: 20%;
    border-radius: 5px;
}

.time {
    /* border: 3px solid blue; */
    display: flex;
    width: 100%;
    justify-content: center;
}

.time2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
}

/* CARDS SOBRE O GRUPO */

.card-client {
    background-image: url();
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 14rem;
    height: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.card-client:hover {
    transform: translateY(-40px);
}

.name-client {
    /* border: 3px solid red; */
    margin-top: 98%;
    margin-bottom: -13%;
    font-weight: bolder;
    font-size: 22px;
}

.name-client span {
    display: block;
    font-weight: bolder;
    font-size: 20px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 2.2rem;
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #000000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #000000;
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}

.card-client2 {
    background-image: url(../assets/imgs/Group27.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 14rem;
    height: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.card-client2:hover {
    transform: translateY(-40px);
}

.card-client3 {
    background-image: url();
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 14rem;
    height: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.card-client3:hover {
    transform: translateY(-40px);
}

.card-client4 {
    background-image: url(../assets/imgs/Group28.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 14rem;
    height: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.card-client4:hover {
    transform: translateY(-40px);
}


.card-client5 {
    background-image: url(../assets/imgs/Group26.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 14rem;
    height: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    margin: 5% 5% 0% 5%;
}

.card-client5:hover {
    transform: translateY(-40px);
}


footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(../assets/imgs/footer.svg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
}

.info-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 20% 0% 20%;
    color: #fff;
}

.info-footer .number {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 30rem;
    gap: 10rem;
    font-size: 20px;
}

.info-footer .email {
    font-size: 20px;
}


.contato-dados {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-top: 30%;
}

.contato-dados .logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 3rem;
    margin: 10% 25% 5% 30%;
}

.contato-dados .logo img {
    display: flex;
    justify-content: center;
    width: auto;
    height: 3rem;
    margin: 5% 50% 5% 50%;
}

.contact-form {
    background-color: #F2CB05;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
}

.contact-form label {
    color: rgb(0, 0, 0);
}

.contact-form .heading {
    font-size: 24px;
    color: rgb(0, 0, 0);
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
    width: 300px;
}

.contact-form input,
.contact-form textarea {
    background-color: #1c1c1c;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #fff;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
    background-color: #181818;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0% 25% 0% 25%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


@media screen and (max-width: 1500px) {

/* SESSÃO PARTE 1 */
.part-um {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    height: auto;
}

.container{
    width: 100%;
}

.cards {
    /* border: 3px solid rgb(0, 94, 255); */
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CB05;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.missao img {
    height: 100px;
    width: 100px;
}

.missao .conteudo {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.missao h3 {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.missao span{
    font-size: 1.2rem;
}

.visao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CB05;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #F2CB05;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.visao img {
    height: 100px;
    width: 100px;
}

.visao .conteudo {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.visao h3 {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.visao span{
    font-size: 1.2rem;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CB05;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.valores img {
    height: 100px;
    width: 100px;
}

.valores .conteudo {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.valores h3 {
    font-size: 2=1.5rem;
    margin-bottom: 5%;
}

.valores span{
    font-size: 1.2rem;
}

    /* sessão um do site */
    .part-dois {
        flex-direction: column;
    }

    .sobre-nos {
        background-color: #181818;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .imagem-empresa {
        display: flex;
        justify-content: flex-end;
        background-image: url(../assets/imgs/7d675566f44b598b1f41851000a6a654.jpg);
        background-size: cover;
        /* background-repeat: no-repeat; */
        margin: 10% 10% 0 10%;
        border-radius: 10px;
        height: 40vh;
    }

    .texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .texto-sobre .titulo {
        display: flex;
        justify-content: center;
        margin: 3% 0% 0% 0%;
        padding: 0.5rem;
        width: 90%;
        font-size: 40px;
        color: #fff;
    }


    .texto-sobre .texto {
        display: flex;
        color: #fff;
        margin: 0% 5% 10% 5%;
        font-size: 20px;
    }


    /* SESSÃO PARTE 3 */

    .vantagem {
        margin: 5% 5% 0% 5%;
    }

    .part-quatro .info-um .itens {
        /* border: 3px solid rgb(0, 17, 255); */
        height: 10rem;
        width: 3 0%;
        padding: 3rem;
        border-radius: 15px;
        /* margin-top: 3%; */
    }

}