* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #181818;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #F2CB05;
}

.login-button button a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


banner{
        /* border: 3px solid red; */
        display: flex;
        height: auto;
        background-color: #F2CB05;
        width: 100%;
}

.imagem-inicial {
    /* border: 3px solid rgb(0, 17, 255); */
    width: 100%;
    height: auto;
    color: #fff;
    background-image: url(/site/public/assets/imgs/beneficios-do-monitoramento-de-ti\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo {
    /* border: 3px solid rgb(0, 255, 89); */
    padding: 0.5rem;
    font-size: 35px;
    margin: 10% 25% 5% 5%;
}

.sub-texto {
    /* border: 3px solid red; */
    font-size: 30px;
    margin: 0% 30% 0 5%;
}

.saber-mais {
    /* border: 3px solid red; */
    display: flex;
    justify-content: left;
    padding: 1rem;
    margin: 2% 0% 0% 5%;
}

.saber-mais button {
    display: flex;
    background-color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5%;
}

site{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #181818;
}

.sobre-nos{
    /* border: 3px solid blue; */
    background-color: #181818;
    flex-direction: column;
    margin: 0;
    width: 20%;
    height: auto;
}

.imagem-empresa{
    /* border: 3px solid orange; */
    display: flex;
    justify-content: flex-end;
    background-image: url(/site/public/assets/imgs/7d675566f44b598b1f41851000a6a654.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 42% 0% 0% 0%;
    border-radius: 10px;
    height: 65vh;
}

.texto-sobre{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.texto-sobre .titulo {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    margin: 5% 0% 0% 0%;
    width: 80%;
    font-size: 40px;
    padding: 2rem;
    color: #fff;
}



.texto-sobre .texto{
    /* border: 3px solid yellow; */
    display: flex;
    padding: 2rem;
    color: #fff;
    margin-bottom: 10%;
    font-size: 25px;
}


@media screen and (max-width: 1500px){
    site{
        /* border: 3px solid red; */
        display: flex;
        flex-direction: column;
        background-color: #181818;
    }
    
    .sobre-nos{
        /* border: 3px solid blue; */
        background-color: #181818;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    .imagem-empresa{
        /* border: 3px solid orange; */
        display: flex;
        justify-content: flex-end;
        background-image: url(/site/public/assets/imgs/7d675566f44b598b1f41851000a6a654.jpg);
        background-size: cover;
        /* background-repeat: no-repeat; */
        margin: 10% 10% 0 10%;
        border-radius: 10px;
        height: 40vh;
    }
    
    .texto-sobre{
        /* border: 3px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .texto-sobre .titulo {
        /* border: 3px solid orange; */
        display: flex;
        justify-content: center;
        margin: 10% 0% 0% 0%;
        width: 90%;
        font-size: 40px;
        color: #fff;
    }
    

    .texto-sobre .texto{
        /* border: 3px solid yellow; */
        display: flex;
        color: #fff;
        margin: 5% 5% 0% 5%;
        font-size: 20px;
    }
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 6rem;
    }


    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.3rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 5rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    banner{
        /* border: 3px solid red; */
        display: flex;
        height: auto;
        background-color: #F2CB05;
        width: 100%;
    }
    .imagem-inicial {
        /* border: 3px solid rgb(0, 17, 255); */
        margin: auto;
        width: 100%;
        height: auto;
        color: #fff;
        background-image: url(/site/public/assets/imgs/beneficios-do-monitoramento-de-ti\ 2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .titulo {
        /* border: 3px solid rgb(0, 255, 89); */
        font-size: 1.03rem;
        margin: 10% 5% 2% 5%;
        padding: 0;
    }

    .sub-texto {
        /* border: 3px solid red; */
        margin: 0% 5% 0% 5%;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .saber-mais {
        /* border: 3px solid red;    */
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 0% ;
    }

    .saber-mais button {
        display: flex;
        background-color: #fff;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 10px;
    }

    site{
        /* border: 3px solid red; */
        display: flex;
        flex-direction: column;
        background-color: #181818;
    }
    
    .sobre-nos{
        /* border: 3px solid blue; */
        background-color: #181818;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    .imagem-empresa{
        /* border: 3px solid orange; */
        display: flex;
        justify-content: flex-end;
        background-image: url(/site/public/assets/imgs/7d675566f44b598b1f41851000a6a654.jpg);
        background-repeat: no-repeat;
        margin: 10% 10% 0% 10%;
        border-radius: 10px;
        height: 20vh;
    }
    
    .texto-sobre{
        /* border: 3px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .texto-sobre .titulo {
        /* border: 3px solid orange; */
        display: flex;
        justify-content: center;
        margin: 5% 0% 0% 0%;
        width: 90%;
        font-size: 20px;
        color: #fff;
    }
    

    .texto-sobre .texto{
        /* border: 3px solid yellow; */
        display: flex;
        padding: 1rem;
        color: #fff;
        margin: 0% 5% 0% 5%;
        font-size: 10px;
    }
}

