
.main {
    border: solid 2px red;
    height: 950px;
    display: flex;
}

.container {
    border: solid 2px black;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.modal-inteiro {
    border: solid 2px blue;
    width: 100%;
    margin-top: 7.5%;
    display: flex;
    flex-direction: column;
}

.menus-geral {
    display: flex;
    border: solid 6px purple;
    width: 100%;
    height: 6%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

li {
    list-style: none;
    margin: none;
}

.menu1 {
    border: solid 2px cadetblue;
    background-color: #8D8D8D;
    width: 100%;
    font-size: 40px;
    align-self: center;
    text-align: center;
}

.menus-graficos {
    display: flex;
    border: solid 4px aqua;
    width: 100%;
    height: 6%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.menu2 {
    border: solid 2px black;
    width: 100%;
    font-size: 40px;
    align-self: center;
    text-align: center;
}

.modal-conteudo {
    border: solid 5px maroon;
    height: 100%;
}

.grafico-conteudo {
    border: solid 4px teal;
    height: 80%;
}